<div class="container">
    <div class="row">
        <div class="text-center col-xs-12">            
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin ">
                    <li>
                        <a ng-click="goTo(1)"><em class="fa fa-step-backward" aria-hidden="true"></em></a>
                    </li> 
                    <li>
                        <a ng-click="goToPrev()"><em class="fa fa-arrow-left" aria-hidden="true"></em></a>
                    </li> 
                    <li ng-repeat="n in pagTotal track by $index" >
                        <a ng-click="goTo($index+1)">{{$index+1}}</a>
                    </li>
                    <li>
                        <a ng-click="goToNext()"><em class="fa fa-arrow-right" aria-hidden="true"></em></a>
                    </li> 
                    <li>
                        <a ng-click="goTo(pagTotal.length)" ><em class="fa fa-step-forward" aria-hidden="true"></em></a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
</div>