﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* Angular and Bootstrap Libs *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.6/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>

    @* Angular module *@
    <script src="~/Scripts/billingAppModules/src/billingAppModule.js"></script>
    
    @* Angular Config *@
    <script src="~/Scripts/billingAppModules/src/controllers/config.js"></script>

    @* Angular Controllers *@
    <script src="~/Scripts/billingAppModules/src/controllers/clientsController.js"></script>
    <script src="~/Scripts/billingAppModules/src/controllers/productsController.js"></script>
    <script src="~/Scripts/billingAppModules/src/controllers/billsController.js"></script>
    <script src="~/Scripts/billingAppModules/src/controllers/detailsController.js"></script>

    @* Angular Services *@
    <script src="~/Scripts/billingAppModules/src/services/clients/clientsService.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/clients/clientsSearchService.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/clients/clientSearchDSLFactory.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/products/productsSearchService.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/products/productsService.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/bills/billSearchDSLFactory.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/bills/billsSearchService.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/bills/billsService.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/details/detailsSearchService.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/details/detailsService.js"></script>
    <script src="~/Scripts/billingAppModules/src/services/listPaginationService.js"></script>

    @* Angular Directives *@
    <script src="~/Scripts/billingAppModules/src/directives/clients/clientsListActionsDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/clients/clientsListDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/clients/clientsSearchDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/products/productsListActionsDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/products/productsListDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/products/productsSearchDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/bills/billsListActionsDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/bills/billsListDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/bills/billsSearchDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/details/detailsListActionsDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/details/detailsListDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/details/detailsSearchDirective.js"></script>
    <script src="~/Scripts/billingAppModules/src/directives/listPaginationDirective.js"></script>



</head>
<body ng-app="billingAppModules">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BillingApp", "Index", "Home", new { area = "" }, 
               new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li><a href="#/clients">Clients</a></li>
                    <li><a href="#/products">Products</a></li>
                    <li><a href="#/details">Details</a></li>
                    <li><a href="#/bills">Bills</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
