<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bill Number</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="detail in details">
                <td>{{detail.BillNumber}}</td>
                <td>{{detail.ProductName}}</td>
                <td>{{detail.Quantity}}</td>
                <td>{{detail.Total}}</td>
                <td>
                    <details-list-actions detail="detail"></details-list-actions>
                </td>
            </tr>
        </tbody>
    </table>
</div>