<div class="container">
    <div class="row">
        <div class="col-xs-12">                      
            <button class="btn btn-primary" ng-click="showSearch = !showSearch">
                <em class="fa fa-search" aria-hidden="true"></em> Search</button>            
            <br><br>            
            <div class="animated fadeIn slow" ng-show='showSearch'>
                <input type="text" placeholder="Input data to search" ng-model="searchText" 
                ng-model-options="{ allowInvalid: true, debounce: 800 }"
                 class="form-control">                
                <br>
            </div>            
        </div>
    </div>
</div>