<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <details-search></details-search>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-if="detailsList.length > 0">
            <details-list details="detailsList"></details-list>
        </div>
        <div class="col-xs-12" ng-if="detailsList.length == 0">
            <h3>No Results Found</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <list-pagination></list-pagination>
        </div>
    </div>
</div>