﻿<div>
    <h1>Hola</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-ld-12">
            <h2>Clients</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group btn-group" id="btn-table">
            <!--
            <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action(" Add", "Clients" )';">New</button>
            <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action(" Index", "Home" )';">Go Back</button>
                -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-ld-12">
            <table class="table table-striped table-bordered table-list" id="ClientsDataTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Created</th>
                        <th>Last Access</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr >
                        <td>{{ClientFirstName}} {{ClientLastName}}</td>
                        <td>{{ClientEmail}}</td>
                        <td>{{ClientPhone}}</td>
                        <td>{{ClientAddress}}</td>
                        <td>{{ClientCreatedFormated}}</td>
                        <td>{{ClientLastAccessFormated}}</td>
                        <td>
                            <a title="Edit" href="" aria-label="Edit" class="btn btn-default">
                                <em class="fa fa-pencil"></em>
                            </a>
                            <button type="button" class="btn btn-danger"
                                    data-toggle="modal" data-target="#deleteModal" id="modalOpen" name="@client.IdClient">
                                <em class="fa fa-trash"></em>
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group btn-group" id="btn-table">
                <!--
                <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action(" Add", "Clients" )';">New</button>
                <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action(" Index", "Home" )';">Go Back</button>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-body">
                <p>This client owns this bills:</p>
                <table class="table table-striped table-bordered table-list" id="BillsModalDataTable">
                    <thead>
                        <tr>
                            <th class="hidden">ClientId</th>
                            <th>Client Name</th>
                            <th>Bill Number</th>
                            <th>Date</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="modalTbody"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalDeleteBtn">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseBtn">Close</button>
            </div>
        </div>
    </div>
</div>
