﻿<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Bills</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <bills-search></bills-search>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-12" ng-if="billsList.length > 0">
            <bills-list bills="billsList"></bills-list>
        </div>
        <div class="col-xs-12" ng-if="billsList.length == 0">
            <h3>No Results Found</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <list-pagination></list-pagination>
        </div>
    </div>
</div>