<div class="container ">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Total</th>                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bill in bills">
                <td>{{bill.Number}}</td>
                <td>{{bill.BdateFormated}}</td>
                <td>{{bill.Total}}</td>
                <td>
                    <bills-list-actions bill="bill"></bills-list-actions>
                </td>
            </tr>
        </tbody>
    </table>
</div>