﻿@using testClientBillModels
@model List<testClientBillModels.Bills>

@{
    ViewBag.Title = "Bills";
}


@section scripts{
    
   
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
           <h2>Bills</h2> 
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group btn-group" id="btn-table">
                <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Add", "Bills")';">New</button>
                <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Index", "Home")';">Go Back</button>
            </div>   
        </div>
    </div>  

    <div class="row">
        <div class="col-ld-12">
            <table class="table table-striped table-bordered table-list" id="BillsDataTable">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Date</th>
                    <th>Client Name</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (testClientBillModels.Bills bill in Model){
                        <tr>
                            <td>@bill.BillNumber</td>
                            <td>@bill.BillDate.ToShortDateString()</td>
                            <td>@bill.ClientName</td>
                            <td>@bill.BillTotal</td>
                            <td>
                                <a href="@Url.Action("Edit", "Bills", bill)" aria-label="Edit" class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal" data-target="#deleteBillModal" id="billModalOpen" name="@bill.BillNumber">
                                    <em class="fa fa-trash"></em>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group btn-group" id="btn-table">
                    <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Add", "Bills")';">New</button>
                    <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Index", "Home")';">Go Back</button>
                </div>
            </div>
        </div>  
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteBillModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-body">
                <p>This Bill has this details:</p>
                <table class="table table-striped table-bordered table-list" id="DetailModalDataTable">
                    <thead>
                        <tr>
                            <th>Bill Number</th>
                            <th>Detail Number</th>
                            <th>Id Product</th>
                            <th>Quantity</th>
                            <th>Total Detail</th>
                        </tr>
                    </thead>
                    <tbody id="DetailModalTbody"></tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="detailModalDeleteBtn">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="detailModalCloseBtn">Close</button>
            </div>
        </div>
    </div>
</div>


