﻿
@{
    ViewBag.Title = "New";
}
@section styles{
    <style type="text/css">
        /* Adjust feedback icon position */
        #movieForm .form-control-feedback {
            right: 15px;
        }

        #movieForm .selectContainer .form-control-feedback {
            right: 25px;
        }
    </style>
}


<br/>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="container">
                <h2>New Bill</h2>
            </div>
        </div>
        <div class="col-ld-12">
            <form id="movieForm" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 selectContainer">
                            <label class="control-label">Select a client</label>
                            <select class="form-control" name="genre">
                                <option value="">Choose a genre</option>
                                <option value="action">Action</option>
                                <option value="comedy">Comedy</option>
                                <option value="horror">Horror</option>
                                <option value="romance">Romance</option>
                            </select>

                            <button type="button" class="btn btn-primary" name="title">Add new Client</button>
                        </div>
                        <div class="col-xs-6">
                            <div class="card">
                                <img src="~/Content/img/img.jpg" alt="John" style="width: 100%">
                                <div class="container">

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-6">
                            <table class="table table-striped table-bordered table-list">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Stock</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>papa</td>
                                    <td>15</td>
                                    <td>2</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>cebolla</td>
                                    <td>20</td>
                                    <td>5</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>batata</td>
                                    <td>45</td>
                                    <td>5</td>
                                    <td>200</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-6">
                            <table class="table table-striped table-bordered table-list">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Stock</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>papa</td>
                                    <td>15</td>
                                    <td>2</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>cebolla</td>
                                    <td>20</td>
                                    <td>5</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>batata</td>
                                    <td>45</td>
                                    <td>5</td>
                                    <td>200</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Details</label>
                            <table class="table table-striped table-bordered table-list">
                                <thead>
                                <tr>
                                    <th>Detail Number</th>
                                    <th>product name</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>papa</td>
                                    <td>2</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>cebolla</td>
                                    <td>5</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>batata</td>
                                    <td>5</td>
                                    <td>225</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 text-center ">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-default" style="width: 100%;">Create</button>
                    </div>
                    <div class="col-xs-4">
                        <button type="reset" class="btn btn-default" style="width: 100%;">Reset</button>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-default" style="width: 100%;">Go back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

















<!--
<div class="container"></div>
<div class="card">
    <img src="img.jpg" alt="John" style="width:100%">
    <div class="container">
        <h1>John Doe</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button>Contact</button></p>
    </div>
</div>
    -->
