<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Bills</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <edit-bill></edit-bill>
        </div>
    </div>
    <div class="row">
        <div class="col-ld-12">
            <bills-list></bills-list>
        </div>
    </div>
</div>