<div>
    <button class="btn btn-primary" ng-click="showSearch = !showSearch">
            <em class="fa fa-search" aria-hidden="true"></em> Search</button>
    <button class="btn btn-primary" ng-click="newBill()">
            <em class="fa fa-cart-plus" aria-hidden="true"></em> New Bill</button>
    <button href="#/" class="btn btn-danger">
            <em class="fa fa-arrow-left" aria-hidden="true"></em> Go back</button>
    <br><br>
    <div class="col-xs-12">
        <div class="row animated fadeIn slow" ng-show='showSearch'>
            <input type="text" placeholder="Input data to search" 
            ng-model="searchText" class="form-control">
            <br>
        </div>
    </div>
    <new-bill></new-bill>
    <table class="table table-striped table-bordered table-list">
        <thead>
            <tr>
                <th><a ng-click="column ='number';reverse=!reverse;">Number</a></th>
                <th><a ng-click="column ='date';reverse=!reverse;">Date</a></th>
                <th><a ng-click="column ='name';reverse=!reverse;">Client Name</a></th>
                <th><a ng-click="column ='total';reverse=!reverse;">Total</a></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bill in bills | orderBy:column:reverse">
                <td>{{bill.BillNumber}}</td>
                <td>{{bill.BillDateFormated | date}}</td>
                <td>{{bill.ClientName}}</td>
                <td>{{bill.BillTotal | currency}}</td>
                <td>
                    <bill-actions bill="bill"></bill-actions>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="anteriores()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <button class="btn btn-primary" ng-click="siguientes()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
</div>