﻿<div>
    <button 
        type="button" 
        class="btn btn-default" 
        title="Edit" 
        ng-click="editClient()">
        <em class="fa fa-pencil"></em>
    </button>
    <button 
        type="button" 
        class="btn btn-danger" 
        title="Delete" 
        ng-click="deleteClient()">
        <em class="fa fa-trash"></em>
    </button>
    
</div>