﻿<div class="container">
    <div class="row">
        <div class="col-xs-12">            
            <edit-client></edit-client>
        </div>
    </div>
    <div class="row">
        <div class="col-ld-12">
            <h2>Clients</h2>            
        </div>
    </div>
    <div class="row">
        <div class="form-group btn-group col-ld-12">
            <new-clientaction></new-clientaction>
            <new-client></new-client>
        </div>
    </div>    
    <div class="row">
        <div class="col-ld-12">
            <clients-list clients="clientsList"></clients-list>
        </div>
    </div>
</div>

