﻿<table class="table table-striped table-bordered table-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created</th>
            <th>Last Access</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="client in clients">
            <td>{{client.ClientFirstName}} {{client.ClientLastName}}</td>
            <td>{{client.ClientEmail}}</td>
            <td>{{client.ClientPhone}}</td>
            <td>{{client.ClientAddress}}</td>
            <td>{{client.ClientCreatedFormated}}</td>
            <td>{{client.ClientLastAccessFormated}}</td>
            <td>
                <client-actions client="client"></client-actions>
            </td>
        </tr>
    </tbody>
</table>