<div class="modal-dialog ">
    <div class="row col-xs-12">
        <div class="modal-header">
            <h3 class="modal-title">Edit Bill</h3>
        </div>
    </div>
    <form class="form-horizontal" name="formEditBill" ng-submit="submitBillForm(billSelected)" role="form">
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Bill Number</label>
                        <input type="number" name="BillNumber" class="form-control" ng-disabled="true" ng-model="billSelected.BillNumber" placeholder="{{billSelected.BillNumber}}">
                    </div>
                    <div class="form-group">
                        <label>Client Name</label>
                        <input type="text" name="ClientName" class="form-control" required minlength="4" ng-model="billSelected.ClientName" placeholder="{{billSelected.ClientName}}">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" name="BillDate" class="form-control" required minlength="4" ng-model="billSelected.BillDateFormated" placeholder="{{billSelected.BillDateFormated | date}}">
                    </div>
                    <div class="form-group">
                        <label>Total</label>
                        <input type="number" name="BillTotal" class="form-control" ng-model="billSelected.BillTotal" placeholder="{{billSelected.BillTotal}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-xs-12">
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" ng-disabled="!formEditBill.$valid">Submit</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>