<div class="modal-dialog">
    <div class="row col-xs-12">
        <div class="modal-header">
            <h3 class="modal-title">
                {{clientSelected.ClientFirstName}} {{clientSelected.ClientLastName}}
            </h3>
        </div>
    </div>
    <form class="form-horizontal" name="formEditClient" ng-submit="submitClientForm(clientSelected)" role="form">
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="ClientFirstName" class="form-control" required minlength="4" ng-model="clientSelected.ClientFirstName"
                            placeholder="{{clientSelected.ClientFirstName}}">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="ClientLastName" class="form-control" required minlength="4" ng-model="clientSelected.ClientLastName"
                            placeholder="{{clientSelected.ClientLastName}}">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="ClientEmail" class="form-control" ng-model="clientSelected.ClientEmail" placeholder="{{clientSelected.ClientEmail}}">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="tel" name="ClientPhone" class="form-control" required minlength="4" ng-model="clientSelected.ClientPhone" placeholder="{{clientSelected.ClientPhone}}">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" name="ClientAddress" class="form-control" required minlength="4" ng-model="clientSelected.ClientAddress"
                            placeholder="{{clientSelected.ClientAddress}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-xs-12">
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" ng-disabled="!formEditClient.$valid">Submit</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>