<div class="modal-dialog ">
    <div class="row col-xs-12">
        <div class="modal-header">
            <h3 class="modal-title">New Bill</h3>
        </div>
    </div>
    <form class="form-horizontal" name="formNewBill" ng-submit="submitNewBillForm(newBill)" role="form">
        <div class="modal-body">
            <div class="row">
                <div class="form-group btn-group col-ld-12">
                    <client-selection clients="clients"></client-selection>
                    <client-selected></client-selected>
                </div>
            </div>    
            <div class="row">
                <div class="col-xs-12">                    
                    <div class="form-group">
                        <label>Client Name</label>
                        <input type="text" name="ClientName" class="form-control" required minlength="4" ng-model="newBill.ClientName" placeholder="{{billSelected.ClientName}}">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" name="BillDate" class="form-control" required minlength="4" ng-model="newBill.BillDateFormated" placeholder="{{billSelected.BillDateFormated | date}}">
                    </div>
                    <div class="form-group">
                        <label>Total</label>
                        <input type="number" name="BillTotal" class="form-control" ng-model="newBill.BillTotal" placeholder="{{billSelected.BillTotal}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-xs-12">
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" ng-disabled="!formNewBill.$valid">Submit</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>