<div class="modal-dialog">
    <div class="modal-header">
        <h3 class="modal-title">New Client</h3>
    </div>
    <form class="form-horizontal" name="formNewClient" ng-submit="createClient(client)" role="form">
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="ClientFirstName" class="form-control" required minlength="4" ng-model="client.ClientFirstName">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="ClientLastName" class="form-control" required minlength="4" ng-model="client.ClientLastName">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="ClientEmail" class="form-control" ng-model="client.ClientEmail">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="tel" name="ClientPhone" class="form-control" required minlength="4" ng-model="client.ClientPhone">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" name="ClientAddress" class="form-control" required minlength="4" ng-model="client.ClientAddress">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-disabled="!formNewClient.$valid">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

        </div>
    </form>
</div>