<div>
    <button 
        class="btn btn-primary" 
        type="button" 
        ng-click="newClient()">
            <em class="fa fa-user-plus" aria-hidden="true"></em> 
            New Client
    </button>            
</div>