<div>
    <button 
        type="button" 
        class="btn btn-warning" 
        title="Edit" 
        ng-click="editClient()">
        <em class="fa fa-pencil"></em>
    </button>
    <button 
        type="button" 
        class="btn btn-danger" 
        title="Delete" 
        ng-click="deleteClient()">
        <em class="fa fa-trash-o"></em>
    </button>
</div>