<div class="container">
    <div class="row">
        <div class="col-xs-12">                      
            <button class="btn btn-primary" ng-click="showSearch = !showSearch">
                <em class="fa fa-search" aria-hidden="true"></em> Search</button>            
            <br><br>            
            <div class="animated fadeIn slow" ng-show='showSearch'>
                <input type="text" placeholder="Input data to search" ng-model="searchText" 
                       ng-model-options="{ allowInvalid: true, debounce: 800 }" class="form-control">
                <label style="color:grey">Input the code to search first:</label></br>
                <label style="color:grey">na(First Name & Last Name), ph(Phone), em(Email)</label></br>
                <label style="color:grey">Then the separation char ":"</label></br>
                <label style="color:grey">And at last the value, like "bob"</label></br>
                <label style="color:grey">For example: "fn:bob"</label></br>
                <br>
            </div>            
        </div>
    </div>
</div>