<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Created</th>
                <th>Last Access</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in clients">
                <td>{{client.FirstName}} {{client.LastName}}</td>
                <td>{{client.Email}}</td>
                <td>{{client.Phone}}</td>
                <td>{{client.Address}}</td>
                <td>{{client.CreatedFormated}}</td>
                <td>{{client.LastAccessFormated}}</td>
                <td>
                    <clients-list-actions client="client"></clients-list-actions>
                </td>
            </tr>
        </tbody>
    </table>
</div>