﻿<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Clients</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <clients-search></clients-search>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-12" ng-if="clientsList.length > 0">
            <clients-list clients="clientsList"></clients-list>
        </div>
        <div class="col-xs-12" ng-if="clientsList.length == 0">
            <h3>No Results Found</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <list-pagination></list-pagination>
        </div>
    </div>
</div>