<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Products</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <products-search></products-search>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-if="productsList.length > 0">
            <products-list products="productsList"></products-list>
        </div>
        <div class="col-xs-12" ng-if="productsList.length == 0">
            <h3>No Results Found</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <list-pagination></list-pagination>
        </div>
    </div>
</div>