<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.Name}}</td>
                <td>{{product.Price}}</td>
                <td>{{product.Stock}}</td>
                <td>
                    <products-list-actions product="product"></products-list-actions>
                </td>
            </tr>
        </tbody>
    </table>
</div>