﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>TestClientBill</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.6/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script> 
    <script src="~/Scripts/clientBillModules/src/clientBillsModule.js"></script>
    <script src="~/Scripts/clientBillModules/src/controllers/config.js"></script>
    <script src="~/Scripts/clientBillModules/src/services/clientsService.js"></script>
    <script src="~/Scripts/clientBillModules/src/services/billsService.js"></script>
    <script src="~/Scripts/clientBillModules/src/services/billsSearchService.js"></script>
    <script src="~/Scripts/clientBillModules/src/services/clientsSearchService.js"></script>
    <script src="~/Scripts/clientBillModules/src/controllers/clientsController.js"></script>
    <script src="~/Scripts/clientBillModules/src/controllers/billsController.js"></script>
    <script src="~/Scripts/clientBillModules/src/controllers/modalController.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/clientsDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/billsDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/billsActionsDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/clientsActionsDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/editClientDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/newClientDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/newClientActionDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/editBillDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/newBillDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/clientSelectedDirective.js"></script>
    <script src="~/Scripts/clientBillModules/src/directives/clientSelectionDirective.js"></script>



</head>
<body ng-app="clientBillModule">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Test Client Bills", "Index", "Home", new { area = "" }, 
                new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#/clients">Clients</a></li>
                    <li><a href="#/bills">Bills</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>

                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    
    @RenderBody()

</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required: false)
</body>
</html>
